* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;

}

/* banner styles */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* big texts styles */
.big-texts {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-10%, -50%);
  text-align: right;
  padding: 16px;
}

.big-text-title {
  font-size: 42px;
  padding: 16px 0;
  font-weight: 700;
}

.lorem01 {
  padding: 16px 0;
}

.btn-primary {
  color: #005FAC;
  background-color: rgb(255, 255, 255);
  border: 0;
  padding: 16px 24px;
  font-weight: 700;
  margin: 8px 0;
  border-radius: 4px;
  font-size: 12pt;
}

/* failures styles */

.failures {
  /* padding: 144px 188px; */
  margin: 144px 188px;
  display: flex;
  justify-content: space-around;
}

.fail-texts {
  position: relative;
  text-align: left;
  margin: auto;
}

.failures-title {
  padding: 16px 0;
}

.fail-list {
  padding: 16px 0;
}

.fail-list li {
  padding: 6px 0;
  list-style-type: none;
}

/* my skills */

.skill-title {
  text-align: center;
  margin: 72px 0;
}

.skills {
  margin: 0 188px;
  display: flex;
  justify-content: space-around;
}

.skill-items {
  text-align: center;
}

.skill-items h3 {
  padding: 8px 0;
}


.watch {
  text-align: center;
  padding: 144px;
  background-image: linear-gradient();
}


/* bg2 */

#bg_2 {
  background-image:
    linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),
    url("./images/watch.png");
  width: 80%;
  height: 300px;
  background-size: cover;
  color: white;
  padding: 48px;
  margin: 188px auto;
  border-radius: 8px;
}

.always-keep {
  position: relative;
  text-align: left;
  padding: 100px 0 12px 0;
}

.btn-primary-2 {
  color: #005FAC;
  background-color: rgb(255, 255, 255);
  border: 0;
  padding: 12px 18px;
  font-weight: 700;
  margin: 8px 0;
  border-radius: 4px;
  font-size: 12pt;
}


/* footer */
.footer-bg {
  background-color: black;

}

.footer {
  display: flex;
  justify-content: space-around;
  margin: 0 188px;
  padding: 144px 0;
  color: aliceblue;
}

.footer-title {
  text-align: left;
}

.sub {
  padding: 6px 0;
}

.email {
  margin: 12px 0;
  padding: 12px 0;
  background-color: black;
  border: 1px solid white;
  border-radius: 4px;

}

.btn-primary-3 {
  color: #ffffff;
  background-color: #005FAC;
  border: 0;
  padding: 12px 18px;
  font-weight: 700;
  margin: 8px 0;
  border-radius: 4px;
  font-size: 12pt;
}

.icons {
  display: flex;
  justify-content: left;
  padding: 24px 0;
}

.icons li {
  padding-right: 18px;
  list-style-type: none;
}
