* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;

}

/* banner styles */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* big texts styles */
.big-texts {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-10%, -50%);
  text-align: right;
  padding: 16px;
}

.big-text-title {
  font-size: 42px;
  padding: 16px 0;
  font-weight: 700;
}

.lorem01 {
  padding: 16px 0;
}

.btn-primary {
  color: #005FAC;
  background-color: rgb(255, 255, 255);
  border: 0;
  padding: 16px 24px;
  font-weight: 700;
  margin: 8px 0;
  border-radius: 4px;
}

/* failures styles */

.failures {
  /* padding: 144px 188px; */
  margin: 144px 188px;
  display: flex;
  justify-content: space-around;
}

.fail-texts {
  position: relative;
  text-align: left;
  margin: auto;
}

.failures-title {
  padding: 16px 0;
}

.fail-list {
  padding: 16px 0;
}

.fail-list li {
  padding: 6px 0;
}

/* my skills */

.skill-title{
text-align: center;
margin: 72px 0;
}
.skills {
  margin: 0 188px;
  display: flex;
  justify-content: space-around;
}

.skill-items {
  text-align: center;
}

.skill-items h3 {
  padding: 8px 0;
}